.post p::first-letter {
  font-size: 1.5em;
  font-weight: bold;
  color: #667eea;
}

.post-header span {
  font-style: italic;
}

.post > p {
  color: #333;
}

.post-image + p {
  font-weight: bold;
  color: #222;
}

.post-header ~ p {
  border-left: 3px solid #667eea;
  padding-left: 10px;
  margin-left: 5px;
}